:host {
  .card {
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 1em;

    & .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      color: white;
      width: 100%;

      & .text {

      }

      & .value {

      }
    }

    & .title {
      font-size: 1.5em;
      padding: 10px 0;
    }
  }
}
